<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.varad.xyz/funpl/FunPL"
			class = "xyz.varad.funpl.funPL.FunPLPackage"
			genModel = "model/generated/FunPL.genmodel" />
	</extension>
</plugin>
